<!DOCTYPE html>
<html>
  <head>
    <title>Starva</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=" + Rails.application.credentials.google[:api_key] + "&libraries=geometry,places" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content=Starva />
    <meta property="og:image" content="<%= image_url('starva.png') %>" />
    <meta property="og:description" content="A fullstack Strava clone where users can upload workouts and plan future cycling/running routes." />
    <meta property="og:url" content="https://starva.herokuapp.com/" />
    <meta name="author" content="Audrey Yun">


    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.sessionbg = "<%= image_url('christian.png') %>"
    </script>
    
    <script type="text/javascript">
      window.starvalogo = "<%= image_url('starva-logo.png') %>"
    </script>
    <script type="text/javascript">
      window.upload = "<%= image_url('upload.png') %>"
    </script>
    <script type="text/javascript">
      window.upload2 = "<%= image_url('upload-2.png') %>"
    </script>
    <script type="text/javascript">
      window.wrench = "<%= image_url('wrench.png') %>"
    </script>
    <script type="text/javascript">
      window.route = "<%= image_url('strava-routes.png') %>"
    </script>
    <script type="text/javascript">
      window.splashpage = "<%= image_url('splash-page.png') %>"
    </script>
    <script type="text/javascript">
      window.footerlogo = "<%= image_url('footer-logo.png') %>"
    </script>
    <script type="text/javascript">
      window.actions = "<%= image_url('actions.svg') %>"
    </script>
    <script type="text/javascript">
      window.bike = "<%= image_url('bike.svg') %>"
    </script>
    <script type="text/javascript">
      window.shoe = "<%= image_url('shoe.svg') %>"
    </script>
    <script type="text/javascript">
      window.water = "<%= image_url('water.svg') %>"
    </script>
    

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
